---
parser: babel-eslint
plugins:
  - react
env:
  browser: true
  es6: true
  node: true
parserOptions:
  ecmaFeatures:
    legacyDecorators: true
extends:
  - eslint:recommended
  - plugin:react/recommended
rules:
  indent: off
  linebreak-style:
    - error
    - unix
  quotes:
    - error
    - single
    - avoidEscape: true
  semi:
    - error
    - never
  no-console: off
  no-empty:
    - error
    - allowEmptyCatch: true
  no-unreachable: warn
  no-useless-escape: off
  no-unused-vars:
    - warn
    - ignoreRestSiblings: true
  react/no-find-dom-node: off
  react/prop-types: off
